ion-card {
  --background: var(--card-bg);
  color: var(--text-main);
  border: 2px solid #6200b31a;
  border-radius: 20px;
  padding: 16px;
  margin: 16px 0;
  font-family: 'Heading-Font', sans-serif;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  min-width: 0;
}
ion-card-title {
  --color: var(--text-main);
  font-family: 'Heading-Font', sans-serif;
  font-size: 2em;
  font-weight: bolder;;
  overflow-wrap: break-word;
}
ion-card-subtitle {
  --color: var(--text-main);
  font-size: 1.5em;
  font-weight: bold;
  margin: 10px;
}

/* APP NAME DIV */
#bb ion-card {
  display: block;
  border-radius: 0%;
  border: 0px;
  background-color: var(--accent-dark);
  margin: 0px;

  @media (max-width: 1920px) {
    font-size: 25px;
  }

  @media (max-width: 1024px) {
    font-size: 20px;
  }

  @media (max-width: 420px) {
    font-size: 10px;
  }  
}
#bb ion-icon{
  color: white;
}
#bb ion-card-title{
  color: white;
  font-size: 1em;
  text-align: left;
  padding: 12px;
  padding-left: 35px;
}

/* WELCOME DIV */
#head {
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: none;
  margin-left: 0 auto;
}
#head ion-card {
  --background: var(--accent-dark);
  width: auto;
  padding: 2px;
  margin: 0px 0px 20px 0px;
  border: 2px #2b123d;
}
#head ion-card ion-card-title {
  --color: #ffffff;
  font-size: 2em;
}

/* SUB DIV */
#sub {
  display: grid;
  width: 100%;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  box-sizing: border-box;
  gap: 20px;
}
#sub ion-card {
  --background: white;
  --color: var(--text-main);
  color: var(--text-main);
  text-align: left;
  justify-content: center;
  padding: 20px;
  margin: 0;
  width: 100%;
  min-height: 200px;
  display: flex;
  flex: 1;
  flex-direction: column;
  
  box-shadow: 0 6px 15px -10px rgba(44, 6, 75, 0.748);
  border: 1.5px solid var(--accent-dark);
  border-left: 10px solid var(--accent-magenta);
  box-sizing: border-box;
}
#sub ion-card-subtitle{
  font-size: xxx-large;
}
#sub ion-card-title{
  font-size: large;
  overflow-wrap: anywhere;
}

/* ACTION DIV */
#actions{
  display: grid;
  width: 100%;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
  box-sizing: border-box;
}
#actions ion-card {
  background-color: #fde9ff96;
  color: var(--primary-purple);
  text-align: left;
  justify-content: center;
  padding: 20px;
  margin: 0;
  width: 100%;
  min-height: 225px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  border-radius: 20px;
  border: 1.5px solid var(--accent-dark);
  border-top: 10px solid var(--primary-purple);
  box-shadow: 0 5px 15px rgba(98, 0, 179, 0.08); 
}
#actions ion-card ion-card-title {
    font-family: 'Heading-Font';
  --color: #6200b3;
}
#actions ion-card ion-card-subtitle {
  --color: #b43e8f;
}

/* BUDGET HISTORY */
#display {
    grid-column: 2;
    grid-row: 1 / span 2;
    min-height: 220px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    overflow:hidden;
}
#display ion-card {
  --background: var(--card-accent);
  color: var(--text-main);
  border-radius: 20px;
  display: block;
  justify-content: center;
  margin: auto;
  width: 100%;
  box-shadow: 0 2px 5px 0px #290628;
  border-top: 10px solid var(--accent-magenta);
  box-sizing: border-box;
}
#display ion-card-subtitle {
    font-size: x-large;
    padding: 0%;
    margin: 0%;
  }
#display ion-list{
  display:block;
  width: 100%;
  height: 100%;
  max-width: 600px;
  margin: 1px;
  border-radius: 20px;
  box-shadow: 0 2px 5px 0px #290628;
}

/* ION-LIST */
#expList{
  height: 300px;
  overflow-y: auto;
}
#expList::-webkit-scrollbar {
  width: 8px;
}
#expList::-webkit-scrollbar-thumb {
  background: #3b0086;
  border-radius: 10px;
}

/* BUTTONS */
ion-button {
  --background: var(--primary-purple);
  --color: white;
  --box-shadow: 0 4px 12px rgba(98, 0, 179, 0.2);
  --border-radius: 8px;
  font-weight: bold;
  margin: 10px;
}
ion-button:hover {
  --background: var(--accent-magenta);
}
#clearButton{
  width: fit-content;
  height: 70px;
  align-self: center;
}
ion-segment {
  padding: 10px;
  margin-bottom: 20px;
  }
ion-segment-button{
  padding-bottom: 20px;
  --color: var(--accent-dark);
  --color-checked: var(--primary-purple);
  --indicator-color: var(--accent-dark);
}
ion-segment-button:hover{
  --color: var(--accent-dark);
}

/* FONTS */
@font-face {
  font-family: 'Helvetica-Font-Family';
  src: url('./fonts/Helvetica.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Heading-Font';
  src: url('./fonts/TT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* ROOT */
:root {
  --bg-main: radial-gradient(circle at top center, #fde9ff 30%, #eadaff 40%, #f8f6fc 75%);
  --text-main: #2b123d;
  --text-muted: #6b5b7a;
  --shadow: 0 0 25px 5px rgba(181, 72, 14, 0.25);
  --card-accent: #f2e6f7;

  --primary-purple: #6200b3;
  --accent-magenta: #b43e8f;
  --accent-dark: #3b0086;

  --sans: 'Helvetica-Font-Family', system-ui, 'Segoe UI', Roboto, sans-serif;
  font: 20px/145% var(--sans);
  color: var(--text-main);
  background: var(--bg-main);

  --heading: 'TT', 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

/* IONC-ICONS */
ion-icon {
  font-size: 1.2em;
  vertical-align:text-top;
  margin-right: 8px;
  color: var(--primary-purple);
}

html {
  height: 100%;
  overflow-y: auto !important;
}

body {
  height: auto;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto !important;
  /*background-color: var(--bg-main);*/
  
  
}

#app {
  width: 100%;
  height: auto;
  min-height: 100vh;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  color: var(--text-main);
  background-color: transparent;
  box-sizing: border-box;
}

.layout{
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 95%;
  max-width: 1800px;
  gap: 20px;
  align-items: stretch;
  padding: 30px 60px;
  margin: 0 auto;
  box-sizing: border-box;
}
.contents{
  display: flex;
  flex-direction: column;
  grid-column: 1;
  gap: 20px;
  width: 100%;
}

@media (max-width: 600px) and (orientation: portrait) {
  .layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    padding: 25px;
    gap: 10px;
    box-sizing: border-box;
  }

  .contents {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    gap: 12px;
    min-width: 0;
  }

  #bb ion-card-title{
    font-size: medium;
    padding-left: 10px;
    padding: 1px;
  }
  #head {
    width: 100%;
    padding-top: 8px;
  }

  #head ion-card {
    width: auto;
    margin-bottom: 12px;
    padding: 2px;
  }

  #head ion-card-title {
    font-size: 1em;
    padding: 2px;
  }

  #sub {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 10px;
  }

  #sub ion-card {
    width: 100%;
    min-width: 0;
    min-height: 130px;
    padding: 8px;
    border-left-width: 6px;
  }

  #sub ion-card-subtitle {
    font-size: xx-large;
    padding: 2px;
    overflow: auto;
  }

  #sub ion-card-title {
    font-size: small;
    overflow:auto;
  }

  #actions, #sub {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
    margin: 0;
  }

#actions ion-card {
    width: 100%;
    min-width: 0;
    min-height: 0;
    padding: 2px;
  }
  #actions ion-button {
    width: fit-content;
    font-size: smaller;
    margin: 10px;
  }

  #display {
    width: 100%;
    max-width: 600px;
    min-width: 0;
    margin: 0 auto;
    padding: 0;
    grid-column: auto;
    grid-row: auto;
    box-sizing: border-box;
  }

  #display ion-card-subtitle{
  font-size: medium;
  padding: 1px;

  }
  #display ion-card {
    height:fit-content;
    width: 100%;
    max-width: 600px;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
  }
  #display ion-list {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 4px;
    padding: 0;
    box-sizing: border-box;
  }

  #expList {
    height: 150px;
    max-height: 250px;
    overflow-y: auto;
    box-sizing: border-box;
  }
ion-segment {
  padding-bottom: 0%;
  margin-bottom: 0px;
  }
ion-segment-button{
  padding-bottom: 0%;
  margin-bottom: 0px;
}
  #clearButton {
  width: fit-content;
  height: 60px;
  border-radius: 15px;
  align-self: center;
  margin-bottom: 70px;
  }
#showExp, #showCred, #expList {
    font-size: x-small;
    overflow: auto;
  }  
ion-label{
    font-size: small;
  }
}

@media (max-width: 1100px) and (orientation: landscape) {
  .layout {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    grid-template-rows: auto auto;
    box-sizing: border-box;
    gap: 15px;
    padding: 10px;
    align-items: start;
  }

  #bb ion-card {
    padding: 1.5px;
  }

  #bb ion-card-title {
    font-size: medium;
  }

  #sub ion-card-subtitle {
    font-size: x-large;
    overflow: auto;
    padding: 2px;
  }

  #sub ion-card-title {
    font-size: small;
  }

  #actions ion-card-subtitle {
    font-size: 14px;
    padding: 0%;
  }

  .contents {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin: 0;
  }

  #sub, #actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
    margin: 0;
  }

  #sub ion-card, #actions ion-card {
    min-height: 100px;
    padding: 6px;
    width: 100%;
    margin: 0;
  }

  #display {
    grid-column: 2;
    grid-row: 1 / span 2;
    min-height: 220px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    overflow:hidden;
  }

  #display ion-card-subtitle{
  font-size: medium;
  padding: 1px;

  }
  #display ion-card {
    height:fit-content;
    width: 100%;
    max-width: 600px;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
  }
  #display ion-list {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 4px;
    padding: 0;
    box-sizing: border-box;
  }

  #expList {
    height: 150px;
    max-height: 250px;
    overflow-y: auto;
    box-sizing: border-box;
  }
ion-segment {
  padding-bottom: 0%;
  margin-bottom: 0px;
  }
ion-segment-button{
  padding-bottom: 0%;
  margin-bottom: 0px;
  --color: var(--accent-dark);
  --color-checked: var(--primary-purple);
  --indicator-color: var(--accent-dark);
}
ion-segment-button:hover{
  --color: var(--accent-dark);
}
#showExp, #showCred, #expList {
    font-size: x-small;
    overflow: auto;
  }  
ion-label{
    font-size: small;
  }
}

@media (max-width: 1200px) and (orientation: portrait) {
  .layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    padding: 25px;
    gap: 10px;
    box-sizing: border-box;
  }

    .contents {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin: 0;
  }

  #sub, #actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
    margin: 0;
  }

  #bb ion-card-title{
    font-size: medium;
    padding-left: 10px;
    padding: 1px;
  }
  #head {
    width: 100%;
    padding-top: 8px;
  }

  #head ion-card {
    width: auto;
    margin-bottom: 12px;
    padding: 2px;
  }

  #head ion-card-title {
    font-size: 1em;
    padding: 2px;
  }

  #sub ion-card {
    width: 100%;
    min-width: 0;
    min-height: 130px;
    padding: 8px;
    border-left-width: 6px;
  }

  #sub ion-card-subtitle {
    font-size: xx-large;
    padding: auto;
  }

  #sub ion-card-title {
    font-size: small;
    overflow-wrap: break-word;
  }
  
  #actions ion-card {
    width: 100%;
    min-width: 0;
    min-height: 0;
    padding: 4px;
    border-top-width: 7px;
  }
  #actions ion-card-subtitle {
    font-size: 20px;
  }
  #actions ion-item {
    width: 100%;
    box-sizing: border-box;
  }
  #actions ion-button {
    width: fit-content;
    font-size: smaller;
    margin: 10px;
  }

  #display {
    width: 100%;
    max-width: 600px;
    min-width: 0;
    margin: 0 auto;
    padding: 0;
    grid-column: auto;
    grid-row: auto;
    box-sizing: border-box;
  }

  #display ion-card-subtitle{
  font-size: large;
  padding: 1px;

  }
  #display ion-card {
    height:fit-content;
    width: 100%;
    max-width: 600px;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
  }
  #display ion-list {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 4px;
    padding: 0;
    box-sizing: border-box;
  }

  #expList {
    height: 150px;
    max-height: 250px;
    overflow-y: auto;
    box-sizing: border-box;
  }
ion-segment {
  padding-bottom: 0%;
  margin-bottom: 0px;
  }
ion-segment-button{
  padding-bottom: 0%;
  margin-bottom: 0px;
  --color: var(--accent-dark);
  --color-checked: var(--primary-purple);
  --indicator-color: var(--accent-dark);
}
ion-segment-button:hover{
  --color: var(--accent-dark);
}
  #clearButton {
  width: fit-content;
  height: 60px;
  align-self: center;
  margin-bottom: 70px;
  }
}